<h1>Cartas de Yu-Gi-Oh</h1>
<mat-card id="add-card">
  <mat-card-title>Adicionar nova Carta</mat-card-title>
  <mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Adicione o nome da carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Atributo</mat-label>
    <input matInput placeholder="Adicione o atributo da carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Quantidade de Estrelas</mat-label>
    <input matInput placeholder="Adicione a quantidade de estrelas da Carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>URL da Imagem</mat-label>
    <input matInput placeholder="Adicione o URL da Imagem da Carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Tipo</mat-label>
    <input matInput placeholder="Adicione o Tipo da Carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Descrição</mat-label>
    <input matInput placeholder="Adicione a Descrição da Carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Ataque</mat-label>
    <input matInput placeholder="Adicione o valor do Ataque da Carta">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Defesa</mat-label>
    <input matInput placeholder="Adicione o valor da Defesa da Carta">
  </mat-form-field>
  <button mat-button >Adicionar Carta</button>
</mat-card>
<hr>
<div>
  <h2>Coleção de Cartas Yu-Gi-Oh</h2>
  <mat-card *ngFor="let yuCard of cards">
    <mat-card-title>{{yuCard.nome}}</mat-card-title>
    <p>{{yuCard.atributo}}</p>
    <p>{{yuCard.quantidadeEstrelas}}</p>
    <img (src)="yuCard.urlImg" alt="">
    <p>{{yuCard.tipo}}</p>
    <p>{{yuCard.description}}</p>
  </mat-card>
</div>